/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* ==================== GENERAL ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root{
    /* ========== COLORS ========== */
    /* --main-color: #E95E31;
    --second-color: #CFBEA3;
    --lightest-color: #fcfcfc;
    --grey-color: #dedcd7;
    --border: 0.1rem solid rgba(113, 111, 109, 0.329); */

    /* ========== TEXT ========== */
    --h1-font-size: 5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --h4-font-size: 1.2rem;
    --h5-font-size: 1rem;
    --p-font-size: 1rem;
}

*::selection{
    color: white;
    background: grey;
}

section {
    padding: 60px 10%;
}

/* ==================== GENERAL STOP ==================== */

/* ==================== HEADER START ==================== */

header {
    display: flex;
    position: fixed;
    padding: 10px 10%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.logo {
    font-size: var(--h2-font-size);
    color: black;
}

/* ========== NAVBAR MENU ========== */

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    margin-left: 40px;
    font-size: var(--h5-font-size);
    font-weight: 600;
    text-transform: uppercase;
    color: black;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0; /* Ubah lebar awal menjadi 0 */
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: width .5s; /* Gunakan animasi hanya pada lebar */
}

.navbar a:hover::after {
    width: 100%; /* Ubah lebar saat hover menjadi 100% */
}

/* ========== ICON & BUTTON ========== */

.btn-signing {
    padding: 5px 10px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: var(--h5-font-size);
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: black;
    transition: .5s;
}

.btn-signing:hover {
    background: black;
    color: white;
}

/* ========== BURGER NAVBAR ========== */

#burger-menu {
    display: none;
    cursor: pointer;
    z-index: 1001;
    font-size: var(--h3-font-size);
    color: black;
}

/* ========== STICKY NAVBAR ========== */
.sticky {
    background-color: white;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* ========== PROFILE DROPDOWN ========== */


.login-profile-container {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-profile-pic {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 7px;
    object-fit: cover; 
    cursor: pointer;
}

.nav-profile-dropdown  {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    top: 50px;
    right: 0px;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: block;
}

.nav-profile-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: var(--p-font-size);
}

.nav-profile-dropdown a:hover {
    background-color: #f1f1f1;
}



/* ==================== HEADER STOP ==================== */

/* ==================== HOME SECTION START ==================== */

.home {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
}

.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-text h1 {
    text-align: center;
    font-size: var(--h1-font-size);
    color: black;
}

/* ========== SEARCH BOX ========== */
.search {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.search input {
    width: 100%;
    padding: 10px 50px 10px 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: var(--p-font-size);
}

/* Hides the default clear button in the search input */
.search input::-webkit-search-cancel-button {
    display: none;
}

.search .bx-search,
.search .clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: black;
}

.search .bx-search {
    left: 20px;
}

.search .clear-icon {
    right: 20px;
    display: none;
    cursor: pointer;
}

/* ==================== HOME SECTION STOP ==================== */

/* ==================== TRENDING SECTION START ==================== */

/* ========== TRENDING CONTAINER ========== */
.trending {
    min-height: 100vh;
}

.trending .heading h2 {
    color: black;
    margin-bottom: 2rem;
    font-size: var(--h2-font-size);
}

.trending .trending-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
}

/* ========== TRENDING IMAGE ========== */
.trending .trending-container .box .image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.trending .trending-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ========== TRENDING CONTENT ========== */

.trending .trending-container .box .content {
    text-align: left;
    line-height: 1.7rem;
}

.trending .trending-container .box .content h4 {
    font-size: var(--h5-font-size);
    font-weight: 600;
    color: black;
}

.trending .trending-container .box .content h5 {
    font-size: var(--h5-font-size);
    font-weight: 600;
    color: black;
}

.trending .trending-container .box .content p {
    font-size: 0.8rem;
    color: black;
}

.trending .trending-container .box .content span {
    color: grey;
}

.trending .trending-container .box:hover {
    transform: scale(1.1);
}

/* ==================== TRENDING SECTION STOP ==================== */


/* ==================== DEV TEAM SECTION START ==================== */

/* ========== DEV TEAM CONTAINER ========== */
.devteam {
    background: #ccc;
    min-height: 100vh;
}

.devteam .heading h2 {
    color: black;
    margin-bottom: 2rem;
    font-size: var(--h2-font-size);
}

.devteam .devteam-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.devteam .devteam-container .box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    position: relative;
    overflow: hidden;
}

/* ========== DEV TEAM IMAGE ========== */
.devteam .devteam-container .box .image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.devteam .devteam-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.devteam .devteam-container .box .image::after {
    content: '';
    position: absolute;
    bottom: -45%; /* Adjust the height of the slant */
    left: 0;
    width: 110%;
    height: 45%; /* Adjust the height of the slant */
    
    background: white;
    transform: skewY(-15deg);
    transform-origin: bottom left;
}

/* ========== DEV TEAM CONTENT ========== */
.devteam .devteam-container .box .content {
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
    position: relative;
    z-index: 1;
}

.devteam .devteam-container .box .content h4 {
    font-size: var(--h4-font-size);
    font-weight: 600;
    color: black;
}

.devteam .devteam-container .box .content p {
    font-size: var(--p-font-size);
    color: black;
}

.devteam .devteam-container .box .content span {
    font-size: .8rem;
    color: black;
}

.devteam .devteam-container .box .content a {
    font-size: var(--h4-font-size);
}

.devteam .devteam-container .box .content a .bx {
    padding: 0.3rem;
    color: black;
}

/* ==================== DEV TEAM SECTION STOP ==================== */

/* ==================== CONTACT SECTION START ==================== */

.contact {
    display: flex;
    height: auto;
	/* padding: 1rem; */
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.contact p {
    text-align: center;
    font-size: var(--p-font-size);
    color: black;
}

/* ==================== CONTACT SECTION STOP ==================== */


/* ====================================================== */
/* MEDIA QUERIES BREAKPOINTS */

/* ========== GENERAL ========== */

/* LARGE DEVICES */
@media (max-width: 1000px) {
    header {
        padding: 18px 7%;
    }
    section {
        padding: 50px 7%;
    }
}

/* MEDIUM DEVICES */
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}

/* SMALL DEVICES */
@media (max-width: 768px) {
    header {
        padding: 11px 4%;
        justify-content: space-between; 
        align-items: center; 
        background-color: white;
    }
    
    #burger-menu {
        display: initial;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #d3d0b1;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid black;
        transition: 0.2s;
        width: 100%;
    }
    
    .navbar.active {
        top: 100%;
        display: flex;
        align-items: flex-start;
    }
    
    .navbar a {
        padding: 1rem;
        display: block;
        color: black;
    }

    .navbar a::after {
        content: none;
    }
    
    .navbar a:hover {
        transform: scale(1.1);
    }
}











/* ==================== BROWSE HTML START ==================== */

/* ==================== BROWSING SECTION ==================== */
.browsing {
    margin-top: 5%;
}

.browsing .search {
    margin-bottom: 2rem;
    width: 100%;
}

/* ========== FILTER CONTAINER ========== */
.filter-container {
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.filter-container .filters {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #ccc;
}

.filters h3 {
    font-size: var(--h4-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filters .show-button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    right: 25px;
    top: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: var(--h3-font-size);
    transition: .5s;
}

.filters .options .genres {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    font-size: var(--h5-font-size);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filters .options .years {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
    font-size: var(--h5-font-size);
    margin-top: 1rem;
}

.filters .options.active {
    display: grid;
}

.filters .options ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin-top: 0.5rem;
}

.filters .options li {
    display: flex;
    align-items: center;
}

.filters .options input[type="checkbox"] {
    margin-right: 10px;
}

.filters .apply-button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 5px 10px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--h5-font-size);
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: black;
    transition: .5s;
}

.filters .apply-button.active {
    display: block;
}

.filters .apply-button:hover {
    background: black;
    color: white;
}

/* ========== BOOK CONTAINER ========== */
.books-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.books-container .books {
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.books-container .books:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.books-container .books .image {
    width: 15%;
    max-height: 250px;
    flex-shrink: 0;
}

.books-container .books .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books-container .books .content {
    padding: 20px;
    width: 85%;
    align-content: center;
}

.books-container .books .content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}

.books-container .books .content h5 {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.books-container .books .content p {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ==================== BROWSE HTML STOP ==================== */

/* ==================== LOGIN HTML START ==================== */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 50%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.login-container .form-box {
    width: 100%;
    padding: 20px;
}

.login-container .form-box.register {
    display: none;
}

.login-container .form-box h2 {
    font-size: var(--h2-font-size);
    color: black;
    text-align: center;
}

.login-container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.login-container .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: var(--h5-font-size);
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.login-container .input-box input:focus~label,
.login-container .input-box input:valid~label {
    top: -5px;
}

.login-container .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: var(--p-font-size);
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.login-container .input-box .bx-envelope,
.login-container .input-box .bx-lock-alt {
    position: absolute;
    right: 8px;
    font-size: var(--h5-font-size);
    color: black;
    line-height: 57px;  
}

.form-box.login .remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    font-weight: 400;
}

.form-box.login .remember-forget label {
    display: flex;
    align-items: center;
}

.form-box.login .remember-forget label input{
    accent-color: black;
    margin-right: 5px;
}

.form-box.login .remember-forget a {
    color: black;
    text-decoration: none;
}

.form-box.login .remember-forget a:hover {
    text-decoration: underline;
}

.login-container .btn {
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--h5-font-size);
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: black;
    transition: .5s;
    margin-top: 25px;
}

.login-container .btn:hover {
    background: black;
    color: white;
}

.form-box.register .btn {
    margin-top: 5px;
}

.login-container .login-register {
    font-size: .9rem;
    text-align: center;
    font-weight: 400;
    margin: 25px 0 10px;
}

.login-container .login-register a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.login-container .login-register a:hover {
    text-decoration: underline;
}

/* ==================== LOGIN HTML STOP ==================== */



/* ==================== REVIEW HTML START ==================== */

/* ==================== THE BOOK SECTION START ==================== */

.thebook {
    min-height: 100vh;
}

.thebook .b-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-top: 5%;
}

.thebook .b-container .image {
    width: 30%;
    max-height: 500px;
}

.thebook .b-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.thebook .b-container .content {
    width: 65%;
    padding-left: 20px;
}

.thebook .b-container .content h2 {
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
}

.thebook .b-container .content h4 {
    font-size: var(--h4-font-size);
    margin-bottom: 0.5rem;
}

.thebook .b-container .content p {
    font-size: var(--p-font-size);
    text-align: justify;
    margin-top: 1rem;
}

.content .column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.content .column .row {
    display: flex;
    justify-content: space-between;
}

.content .column .row h4 {
    flex: 0 0 25%;
    margin-bottom: 0;
}

.content .column .row p {
    flex: 0 0 75%;
    text-align: left;
    margin-top: 0;
}

.total-rating {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--h4-font-size);
    color: gold;
}

.total-rating i {
    font-size: var(--h4-font-size);
}

.total-rating span {
    font-size: var(--h5-font-size);
    color: grey;
    margin-left: 0.5rem;
}

@media (max-width: 1110px) {
    .content .column .row h4 {
        flex: 0 0 30%;
        margin-bottom: 0;
    }
    
    .content .column .row p {
        flex: 0 0 70%;
    }
}

@media (max-width: 990px) {
    .content .column .row h4 {
        flex: 0 0 35%;
        margin-bottom: 0;
    }
    
    .content .column .row p {
        flex: 0 0 65%;
    }
}

@media (max-width: 768px) {
    .thebook .b-container {
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
    }

    .thebook .b-container .image {
        width: 50%;
    }

    .thebook .b-container .content {
        width: 100%;
        padding: 10px;
    }

    .content .column .row {
        align-items: center ;
    }

    .content .column .row h4 {
        flex: 0 0 40%;
    }
    
    .content .column .row p {
        flex: 0 0 60%;
        text-align: left;
    }
}

/* ==================== THE BOOK SECTION STOP ==================== */

/* ==================== REVIEW SECTION START ==================== */

.review {
    min-height: 100vh;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.comments .write-box {
    display: flex;
    flex-direction: column;
}

.edit-review-box.write-box {
    margin-bottom: 30px;
}

.comments .write-box h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.comments .write-box textarea {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    min-height: 80px;
}

.rating-and-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-and-submit .star-rating {
    display: flex;
    gap: 5px;
}

.rating-and-submit .star-rating .star {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating-and-submit .star-rating .star:hover,
.rating-and-submit .star-rating .star.selected {
    color: gold;
}

.rating-and-submit .submit-btn {
    display: block;
    margin-left: auto;
    padding: 5px 40px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--h5-font-size); /* Sesuaikan ukuran font dengan kebutuhan */
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: black;
    transition: .5s;
}

.rating-and-submit .submit-btn:hover {
    background: black;
    color: white;
}

.edit-review-box .cancel-btn {
    padding: 5px 40px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--h5-font-size); 
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: black;
    transition: .5s;
    margin-left: 10px;
}

.edit-review-box .cancel-btn:hover {
    background: black;
    color: white;
}

.comments .posted h4 {
    font-size: var(--h4-font-size); 
    margin-bottom: 25px;
}

.comments .posted .review-box {
    position: relative; /* Jadikan posisi relatif */
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.review-box .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-box .review-header h5 {
    font-size: 1.2rem;
}

.review-box .review-header p {
    font-size: 1rem;
}

.review-box .star-rating {
    display: flex;
    gap: 5px;
    margin-bottom: 1rem;
}

.review-box .star-rating .star {
    font-size: 1.2rem;
    color: gold;
}

.review-box .more-options {
    background: none;
    border: none;
    font-size: 1rem; 
    cursor: pointer;
    color: #999;
    margin-left: 1rem;
}

.more-options-popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    top: 25px;
    right: 40px;
}

.edit-del-btn {
    display: block;
    width: 100%; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    font-size: var(--h5-font-size); 
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: black;
    transition: .5s;
}

.edit-del-btn:hover {
    background-color: #f1f1f1;
}


/* ==================== REVIEW SECTION STOP ==================== */

/* ==================== REVIEW HTML STOP ==================== */




/* ==================== PROFIL PENGGUNA ==================== */
/* ==================== PROFILE SECTION ==================== */

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px; /* Add margin to avoid header overlap */
}

.profile-box, .edit-box {
    flex: 1;
    min-width: 300px; /* Ensure boxes don't get too small */
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.profile-box {
    max-width: 300px; /* Limit the width of profile box */
}

.profile-box h2 {
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
}

.profile-menu {
    display: flex;
    flex-direction: column;
}

.menu-link {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: black;
    text-decoration: none;
    font-size: var(--h5-font-size);
}

.menu-link i {
    margin-right: 10px;
    font-size: 24px;
}

/* ==================== EDIT BOX ==================== */
.edit-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-box-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.edit-box img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-details {
    text-align: left;
}

.user-name {
    font-size: var(--h3-font-size);
}

.profil-email {
    font-size: var(--p-font-size);
    color: grey;
}

.edit-profile {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.e-container label {
    font-size: var(--p-font-size);
    margin-bottom: 5px;
}

.e-container input {
    padding: 10px;
    font-size: var(--p-font-size);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: var(--p-font-size);
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}